/deepweeds_resnet_attention(1).keras
/home/mil/learning/harvested_test/detect/train/weights/best.onnx
/home/mil/learning/harvested_test/detect/train/weights/best.pt
/home/mil/learning/harvested_test/detect/train/weights/last.pt